page-register {

}

.info-container{
    font-size: 1.2em;
    margin-left: 1%;
    margin-top: 0.5vh;
    width: 98%;
    color: #fff;
    white-space: pre-wrap;
    font-family: Roboto-Light;
}

.input-register{
    width: 90vw;
    height: 14vh;
    margin-left: 80vw;
}

.bottom-button{
    margin-top: 3vh;
    background-color: #0c7896;
}
