<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Crear Proyecto</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="main-background">
  <ion-row>
      <ion-card style="height: 25vh; width:100vw;padding: 0px;margin: 0px; background-color: #000000;margin-right:1px">
        <img *ngIf="imageUrl" [src]="imageUrl">
        <div class="card-title">¡Nuevo Proyecto!</div>
      </ion-card>
    </ion-row>
<ion-row>    
  <ion-card style="background-color: #0c80a0;">
    <ion-card-content style="padding:3%">
      <div class="info-container">Por favor, agrega la información de tu proyecto</div>
    </ion-card-content>
  </ion-card>
</ion-row>
<ion-row>
  <ion-item style="width: 88vw; margin-left: 10vw">
    <ion-input type="text" placeholder="Título*" [(ngModel)]="profile.title" autocomplete="true" spellcheck="true" autocorrect="on" maxlength="40"></ion-input>
  </ion-item>
  <ion-item style="width: 96vw; margin-left: 2vw; margin-top:3vh">
    <ion-input autocomplete="true" spellcheck="true" autocorrect="on" placeholder="Busca y Agrega entre 1 y 4 Perks*" [(ngModel)]="searchInput" (input)="searchFilter()"></ion-input>
  </ion-item>
  <ion-item style="width: 96vw; margin-left: 2vw; margin-top:0" *ngFor="let result of searchedData; let last = last" (click)="addInterest(result)">
        <div class="text">{{result.name}}
          {{last ? scroll():''}}
        </div> 
  </ion-item>
</ion-row>


<ion-row style="padding-bottom: 0px;">
  <ion-card style="height: 50px; width:80px; background-color: #0c80a0; margin-right: 1px;">
    <div class="card-section">Perks</div>
  </ion-card> 
      <ion-card *ngFor="let inter of profile.perks" style="height: 50px; width:50px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="removeInterest(inter)">
          <ion-icon [name]="inter.icon" class="white-icon"></ion-icon>
          <ion-icon name="close-circle" class="close-icon"></ion-icon>
          <div class="card-subsection">{{inter.name}}</div>
        </ion-card>
  </ion-row>

  <ion-row>
    <ion-item style="width: 96vw; margin-left: 2vw; margin-top:3vh">
      <ion-input autocomplete="true" spellcheck="true" autocorrect="on" placeholder="Busca y Agrega Starters a tu proyecto" [(ngModel)]="searchInput2" (input)="searchFilter2()"></ion-input>
    </ion-item>
    <ion-item style="width: 96vw; margin-left: 2vw; margin-top:0" *ngFor="let result of searchedData2; let last = last" (click)="addInterest2(result)">
          <div class="text">{{result.name}}
            {{last ? scroll():''}}
          </div> 
    </ion-item>  
  </ion-row>

  <ion-row style="padding-bottom: 0px; margin-bottom: -20px;">
    <ion-card style="height: 50px; width:80px; background-color: #0c80a0; margin-right: 1px;">
      <div class="card-section">Integrantes</div>
    </ion-card> 
        <ion-card *ngFor="let inter of profile.integrants" style="height: 50px; width:50px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="removeInterest2(inter)">
            <ion-icon name="md-person" class="white-icon"></ion-icon>
            <ion-icon name="close-circle" class="close-icon"></ion-icon>
            <div class="card-subsection">{{inter.username}}</div>
          </ion-card>
    </ion-row>

  <ion-row>
    <ion-item style="width: 88vw; margin-left: 10vw; margin-top:20px;height: 120px;">
      <ion-textarea style="height: 120px" placeholder="Descríbe tu proyecto en menos de 250 caracteres" [(ngModel)]="profile.about" type="text" maxlength="250" autocomplete="true" spellcheck="true" autocorrect="on"></ion-textarea>
    </ion-item>
  </ion-row>

 <ion-row style="padding-bottom: 0px; margin-bottom: -20px;">
    <ion-card style="height: 50px; width:80px; background-color: #0c80a0; margin-right: 1px;">
      <div class="card-section">Etapas</div>
    </ion-card> 
        <ion-card *ngFor="let inter of profile.stages" style="height: 50px; width:80px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="removeStage(inter)">
            <ion-icon name="clock" class="white-icon"></ion-icon>
            <ion-icon name="close-circle" class="close-icon"></ion-icon>
            <div class="card-subsection">{{inter.title}}</div>
          </ion-card>

        <ion-card style="height: 50px; width:50px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="adding = !adding; scroll2()">
            <ion-icon name="add-circle" class="white-icon"></ion-icon>
            <div class="card-subsection">Agregar</div>
          </ion-card>

    </ion-row>

    <ion-row *ngIf="adding === true" style="margin-top: 10px;">
        <ion-item style="width: 88vw; margin-left: 10vw">
            <ion-input type="text" placeholder="Título*" [(ngModel)]="titleTemp" autocomplete="true" spellcheck="true" autocorrect="on" maxlength="40"></ion-input>
          </ion-item>
      <ion-item style="width: 88vw; margin-left: 10vw; margin-top:20px;height: 120px;">
        <ion-textarea style="height: 120px" placeholder="Descríbe la etapa*" [(ngModel)]="descriptionTemp" type="text" maxlength="250" autocomplete="true" spellcheck="true" autocorrect="on"></ion-textarea>
      </ion-item>
      <button (click)="addStage()" class="bottom-button" ion-button block style="text-transform: none;" [disabled]="titleTemp === '' && descriptionTemp === ''">Agregar Etapa</button>
    </ion-row>

    <ion-row style="padding-bottom: 0px; margin-bottom: -20px;">
        <ion-card style="height: 50px; width:80px; background-color: #0c80a0; margin-right: 1px;">
          <div class="card-section">Startup Points</div>
        </ion-card> 
            <ion-card *ngFor="let inter of profile.sp" style="height: 50px; width:80px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="removeSP(inter)">
                <ion-icon name="bulb" class="white-icon"></ion-icon>
                <ion-icon name="close-circle" class="close-icon"></ion-icon>
                <div class="card-subsection">{{inter.title}}</div>
              </ion-card>
    
            <ion-card style="height: 50px; width:50px; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" (click)="spAdding = !spAdding; scroll2()">
                <ion-icon name="add-circle" class="white-icon"></ion-icon>
                <div class="card-subsection">Agregar</div>
              </ion-card>
    
        </ion-row>
    
        <ion-row *ngIf="spAdding === true" style="margin-top: 10px;">
            <ion-item style="width: 88vw; margin-left: 10vw">
                <ion-input type="text" placeholder="Título*" [(ngModel)]="spTitle" autocomplete="true" spellcheck="true" autocorrect="on" maxlength="40"></ion-input>
              </ion-item>
              <ion-item style="width: 88vw; margin-left: 10vw">
                  <ion-input type="text" placeholder="URL*" [(ngModel)]="spUrl" autocomplete="true" spellcheck="true" autocorrect="on" maxlength="40"></ion-input>
                </ion-item>
          <ion-item style="width: 88vw; margin-left: 10vw; margin-top:20px;height: 120px;">
            <ion-textarea style="height: 120px" placeholder="Descríbe el Startup Point*" [(ngModel)]="spDesc" type="text" maxlength="250" autocomplete="true" spellcheck="true" autocorrect="on"></ion-textarea>
          </ion-item>
          <button (click)="addSP()" class="bottom-button" ion-button block style="text-transform: none;" [disabled]="spTitle === '' && spDesc === ''">Agregar Startup Point</button>
        </ion-row>


</ion-content>

<ion-footer>
<button (click)="addProject()" class="bottom-button" ion-button block style="text-transform: none;" [disabled]="profile.title === '' || profile.about === '' || profile.perks.length === 0 || profile.sp.length === 0 || profile.stages === 0">Crear Idea</button>
</ion-footer>