page-chat {
    .text-input{
        font-family: Roboto-Light;  
        word-wrap: break-word;
    }
    .ion-at{
        color: white;
    }

}
.chat-container{
    height: 85vh;
    width: 100vw;
    background-color: #08586f;
    margin-bottom: 10px;
}
.chat{
    position: relative;
    float: left;
    min-height: 40px;
    width: 96vw;
    margin-left: 2vw;
    margin-bottom: 10px;
    background-color: white;
    color: darkslategray;
    font-size: 1.15em;
    .your-chat-text{
        position: relative;
        width: 94%;
        font-family: Roboto-Regular;  
        padding: 15px;
    }
    .your-chat{
        position: absolute;
        margin-left: 94%;
        width: 6%;
        height: 100%;
        background-color: #0c80a0;
        
    }
    .my-chat{
        position: absolute;
        width: 6%;
        height: 100%;
        background-color: #0c80a0;
    }
    .my-chat-text{
        position: relative;
        margin-left: 6%;
        width: 94%;
        font-family: Roboto-Regular;  
        padding: 15px;
    }
}


.input-container{
    position: fixed;
    background-color: #08586f;
    bottom: 0;
    width: 100vw;
    height: 18vh;
    .chat-input{
        .text-input{
            width: 80vw;
            height: 50px;
            padding-left: 2px;
            margin-left: 15px;
    
        }
        .send-input{
            margin-left: 80vw;
            width: 14vw;
            height: 50px;
            margin-top: -50px;
            background-color: white;
            opacity: 1;
            border-radius: 0;
            .icon{
                width:100%;
                margin-top: 2px;
                margin-left: -15px;
                text-align: center;
                font-size: 2.3em;
                color:gray;
            }
        }
    }    
}
