<ion-header>

    <ion-navbar>
      <ion-title>Perfil</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="main-background">
    <ion-card *ngIf="about" style="height: 25vh; width:100vw;padding: 0px;margin: 0px; background-color: #000000;margin-right:1px">
      <div class="side-buttons" *ngIf="myProfile !== null && myProfile === false">
        <div class="side-button">          
        </div>
        <div class="side-button" (click)="gotoChat()">
            <ion-icon class="side-icon" name="mail"></ion-icon>
            <div class="side-text">Enviar Mensaje</div>
        </div>
        <div class="side-button"></div>
      </div>      
      <img *ngIf="imageUrl" [src]="imageUrl">
      <div class="card-title" *ngIf="name">{{name}}</div>
      <div class="card-subtitle" *ngIf="nickname">@{{nickname}}</div>
    </ion-card>
  
    <ion-row *ngIf="interest" style="padding-bottom: 0px; margin-bottom: -20px;">
    <ion-card style="height: 9vh; width:25vw; background-color: #0c80a0; margin-right: 1px;">
      <div class="card-section">Intereses</div>
    </ion-card> 
        <ion-card *ngFor="let inter of interest" style="height: 9vh; width:9vh; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" >
            <ion-icon [name]="inter.icon" class="white-icon"></ion-icon>
            <div class="card-subsection">{{inter.name}}</div>
          </ion-card>
    </ion-row>
    <ion-row *ngIf="interest" style="margin-bottom:-15px;">
        <ion-card style="height: 9vh; width:38vw; background-color: #0c80a0; margin-right: 1px;">
          <div class="card-section">Reconocimientos</div>
        </ion-card> 
        <ion-card *ngIf="!awards" style="height: 9vh; width:38vw; background-color: #0c80a0; margin-right: 1px; margin-top:12px;margin-left:1px">
          <div class="card-error">No hay reconocimientos para mostrar</div>
        </ion-card>
            <ion-card *ngFor="let award of awards" style="height: 9vh; width:9vh; background-color: #0c80a0;margin-left:1px;margin-right:1px;margin-top:12px" >
                <ion-icon name="ribbon" class="white-icon"></ion-icon>
                <div class="card-subsection">{{award}}</div>
              </ion-card>

        </ion-row>
    <ion-row>    
      <ion-card *ngIf="about" style="background-color: #0c80a0;">
        <ion-card-content style="padding:3%">
          <div class="about-title">Acerca de mi</div>
          <div class="about-subtitle">"{{about}}"</div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    
  </ion-content>