page-projects {

}

.add-big{
    font-family: Roboto-Bold;
    width: 100%;
    font-size: 1.25em;
    color: white;
    text-align: center;
    margin-top: 2%;
}

.add-icon-big{
    width: 100%;
    font-size: 4.4em;
    color: white;
    text-align: center;
}

.add-subtitle-big{
    font-family: Roboto-Light;
    width: 94%;
    margin-left: 3%;
    font-size: 0.9em;
    color: white;
    text-align: center;
}
