page-explore {
    ion-searchbar{        
        .searchbar-input-container{    
            background-color: #ffffff;        
            .searchbar-input{
                border-radius: 0px;
                text-align: center;
            }
        }
     }
}

.search-box{
    position: fixed;
    width: 100vw;
    background-color: white;
    .search-result{
        height: 5vh;
        .text{
            margin-top: 3vh;
            padding-left: 2vw;
            font-size: 1em;
            font-family: Roboto-Bold;
            color: darkslategrey;
        }
    }
}


